<% if (site.categories.length){ %>
  <section class="widget-wrap">
    <h3 class="widget-title"><%= __('categories') %></h3>
    <div class="widget">
      <%- list_categories({show_count: theme.show_count}) %>
    </div>
  </section>
<% } %>
