/*=====misc =====*/

html, body {
    margin: 0;
    padding: 0;
    color: #212121;
    font: 400 16px/24px Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%
}

body.open {
    overflow: hidden;
}

body, div, dl, dd, form, img, input, figure, menu {
    margin: 0;
    padding: 0
}

img {
    vertical-align: middle;
}

iframe {
    border: 0
}

p {
    margin: 16px 0;
    padding: 0
}

hr {
    background: #ebebeb;
    border: 0;
    height: 1px;
    margin: 16px 0;
    width: 100%
}

strong {
    font-weight: bold
}

:link, :visited {
    color: #283593;
    outline: 0;
    text-decoration: none
}

a:focus {
    text-decoration: underline
}

sup {
    line-height: 1
}

dd, ol, ul {
    margin: 0;
    padding-left: 40px;
}

td>dl>dd, td>ol, td>ul {
    padding-left: 20px
}

ol {
    list-style: decimal outside
}

ol ol {
    list-style-type: lower-alpha
}

ol ol ol {
    list-style-type: lower-roman
}

ol.upper-alpha {
    list-style-type: upper-alpha
}

ul {
    list-style: disc outside
}

li, li p {
    margin: 8px 0;
    padding: 0
}

dt {
    font: 700 16px/24px Roboto, sans-serif
}

dt, dd {
    margin: 16px 0
}

blockquote {
    background: #f7f7f7;
    margin: 16px 0;
    padding: 8px;
    quotes: none;
    font-size: 14px;
    color: #757575;
}

kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #c6cbd1;
    border-radius: 3px;
}

p > code {
    font: 500 90%/1 Roboto Mono, monospace;
    word-break: break-word;
    background: #f7f7f7;
    color: #37474f;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
    height: 0;
    visibility: hidden
}

.truncate-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.truncate-text-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.truncate-text-4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}


/*=====misc end =====*/


/*=====icon =====*/


/*http://google.github.io/material-design-icons/#icon-font-for-the-web*/


/*https://material.io/icons/*/


/*@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(./material-icons/MaterialIcons-Regular.eot);
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(./material-icons/MaterialIcons-Regular.woff2) format('woff2'), url(./material-icons/MaterialIcons-Regular.woff) format('woff'), url(./material-icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    vertical-align: middle;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}*/

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.material-icons.orange600 {
    color: #FB8C00;
}

.material-icons.whitefff {
    color: #fff;
}


/*=====icon end=====*/


/*=====typograph=====*/

h1 {
    font: 300 34px/40px Roboto, sans-serif;
    letter-spacing: -.01em;
    margin: 40px 0 20px
}

h2 {
    border-bottom: 1px solid #ebebeb;
    font: 300 24px/32px Roboto, sans-serif;
    letter-spacing: -.01em;
    margin: 40px 0 20px;
    padding-bottom: 3px
}

h3 {
    font: 400 20px/32px Roboto, sans-serif;
    margin: 32px 0 16px
}

h4 {
    font: 400 18px/32px Roboto, sans-serif;
    margin: 32px 0 16px
}

h5 {
    font: 700 16px/24px Roboto, sans-serif;
    margin: 32px 0 16px
}

h6 {
    font: 500 16px/24px Roboto, sans-serif;
    margin: 32px 0 16px
}

h1+h1, h1+h2, h1+h3, h1+h4, h1+h5, h1+h6, h2+h1, h2+h2, h2+h3, h2+h4, h2+h5, h2+h6, h3+h1, h3+h2, h3+h3, h3+h4, h3+h5, h3+h6, h4+h1, h4+h2, h4+h3, h4+h4, h4+h5, h4+h6, h5+h1, h5+h2, h5+h3, h5+h4, h5+h5, h5+h6, h6+h1, h6+h2, h6+h3, h6+h4, h6+h5, h6+h6, h1+dl>dt:first-child, h2+dl>dt:first-child, h3+dl>dt:first-child, h4+dl>dt:first-child, h5+dl>dt:first-child, h6+dl>dt:first-child {
    margin-top: 0
}

@media screen and (max-width: 720px) {
    h1 {
        font: 300 24px/32px Roboto, sans-serif
    }
}


/*=====typograph end=====*/


/*=====aside=====*/

aside, .caution, .dogfood, .key-point, .key-term, .note, .objective, .special, .success, .warning {
    display: block;
    font-size: 14px;
    margin: 16px 0;
    padding: 12px 24px 12px 60px
}

aside::before, .caution::before, .dogfood::before, .key-point::before, .key-term::before, .note::before, .objective::before, .special::before, .success::before, .warning::before {
    float: left;
    font: normal normal normal 24px/1 'Material Icons';
    -webkit-font-feature-settings: 'liga';
            font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    word-wrap: normal;
    margin-left: -36px
}

aside:link, aside:visited, .caution:link, .caution:visited, .dogfood:link, .dogfood:visited, .key-point:link, .key-point:visited, .key-term:link, .key-term:visited, .note:link, .note:visited, .objective:link, .objective:visited, .special:link, .special:visited, .success:link, .success:visited, .warning:link, .warning:visited {
    text-decoration: underline
}

aside a:focus, .caution a:focus, .dogfood a:focus, .key-point a:focus, .key-term a:focus, .note a:focus, .objective a:focus, .special a:focus, .success a:focus, .warning a:focus {
    background: rgba(255, 255, 255, .7);
    border-radius: 2px;
    margin: -4px;
    padding: 4px;
    text-decoration: none
}

aside pre, .caution pre, .dogfood pre, .key-point pre, .key-term pre, .note pre, .objective pre, .special pre, .success pre, .warning pre {
    background: rgba(255, 255, 255, .75)
}

aside code, aside var, .caution code, .dogfood code, .key-point code, .key-term code, .note code, .objective code, .special code, .success code, .warning code {
    font-weight: 700;
    padding: 0
}

aside, aside code, aside var, aside:link, aside:visited, .note, .note code, .note:link, .note:visited, .special, .special code, .special:link, .special:visited {
    background: #e1f5fe;
    color: #0288d1
}

aside::before, .note::before, .special::before {
    color: #039be5;
    content: 'star'
}

.caution, .caution code, .caution:link, .caution:visited {
    background: #fff3e0;
    color: #dd2c00
}

.caution::before {
    color: #ff6e40;
    content: 'error'
}

.dogfood, .dogfood code, .dogfood:link, .dogfood:visited {
    background: #eceff1;
    color: #546e7a
}

.dogfood::before {
    color: #78909c;
    content: 'pets'
}

.key-point, .key-point code, .key-point:link, .key-point:visited {
    background: #e8eaf6;
    color: #3f51b5
}

.key-point::before {
    color: #536dfe;
    content: 'lightbulb_outline'
}

.key-term, .key-term code, .key-term:link, .key-term:visited {
    background: #f3e5f5;
    color: #9c27b0
}

.key-term::before {
    color: #d500f9;
    content: 'font_download'
}

.objective, .objective code, .objective:link, .objective:visited, .success, .success code, .success:link, .success:visited {
    background: #e0f2f1;
    color: #00897b
}

.objective::before {
    color: #00bfa5;
    content: 'school'
}

.success::before {
    color: #00bfa5;
    content: 'check_circle'
}

.warning, .warning code, .warning:link, .warning:visited, #embedded-explorer .com-google-api-explorer-client-history-EmbeddedHistoryItemView_HistoryItemUiBinderImpl_GenCss_style-error, #embedded-explorer .com-google-api-explorer-client-history-EmbeddedHistoryItemView_HistoryItemUiBinderImpl_GenCss_style-error:link, #embedded-explorer .com-google-api-explorer-client-history-EmbeddedHistoryItemView_HistoryItemUiBinderImpl_GenCss_style-error:visited {
    background: #fbe9e7;
    color: #d50000
}

.warning::before, #embedded-explorer .com-google-api-explorer-client-history-EmbeddedHistoryItemView_HistoryItemUiBinderImpl_GenCss_style-error .gwt-Label::before {
    color: #ff1744;
    content: 'warning'
}

.devsite-no-page-title>aside:first-child, .devsite-no-page-title>.caution:first-child, .devsite-no-page-title>.dogfood:first-child, .devsite-no-page-title>.key-point:first-child, .devsite-no-page-title>.key-term:first-child, .devsite-no-page-title>.note:first-child, .devsite-no-page-title>.objective:first-child, .devsite-no-page-title>.special:first-child, .devsite-no-page-title>.success:first-child, .devsite-no-page-title>.warning:first-child {
    clear: right
}


/*=====aside end=====*/


/*=====layout=====*/

.container {
    height: auto;
    max-width: 1000px;
    margin: 0 auto;
}

.col-sidebar {
    width: 296px;
    float: right;
    display: none;
}

.col-main {
    max-width: 694px;
    float: none;
    margin: 0 auto;
    width: auto;
    overflow: hidden;
    padding: 10px;
}

@media screen and (min-width: 997px) {
    .col-sidebar {
        display: block;
    }
}


/*=====layout end=====*/


/*=====header=====*/


/*TODO: scroll menu when overflow*/

header {
    width: 100%;
    line-height: 48px;
    background-color: #3367d6;
    /*         box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28); */
}

header a:focus, header a:active {
    text-decoration: none;
    background-color: rgba(0, 0, 0, .1);
}

header .header-wrap {
    max-width: 1000px;
    margin: 0 auto;
}

header .logo-wrap {
    display: inline-block;
    padding-right: 20px;
    line-height: 48px;
    vertical-align: top;
}

header .logo-wrap .site-name {
    color: #fff;
}

header .logo-wrap .logo {
    height: 36px;
}

header .menu-wrap {
    float: right;
    height: 48px;
    background: #3367d6;
}

header .header-content {
    z-index: 2;
    background: #3367d6;
    position: relative;
}

header .header-nav {
    box-sizing: border-box;
    padding: 40px 20px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -100%;
    width: 100%;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    background: #3367d6;
    height: 100%;
    z-index: 0;
}

header .header-nav ul, header .header-nav li {
    padding: 0;
    margin: 0;
}

.open header .header-wrap .header-nav {
    display: block;
    top: 47px;
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transition-delay: 0s, 0s, 0.3s;
}

header nav .nav-item {
    text-align: center;
    display: block;
    color: #fff;
}

header nav .nav-link {
    display: block;
    color: #e8eaf6;
    font-weight: 400;
    text-transform: none;
    /*     border-bottom: 2px solid transparent; */
    font: 500 14px/48px Roboto, sans-serif;
    margin: 0;
    padding: 0 24px;
    text-transform: uppercase;
    transition: color .2s;
    text-decoration: none;
}

header nav .nav-item.active .nav-link {
    color: #fafafa;
    border-bottom-color: #fafafa;
    font-weight: 500;
}

header nav .nav-item:hover .nav-link {
    color: #fff;
}

header .header-burger {
    cursor: pointer;
    float: right;
    padding: 15px 10px 20px;
    -webkit-tap-highlight-color: transparent;
}

header .header-burger div {
    background: #fff;
    /*     background: #3367d6; */
    height: 2px;
    margin: 10px 0 0;
    transition: background 0.3s;
    width: 20px;
}

header .header-burger div:before, header .header-burger div:after {
    background: #fff;
    /*background: #3367d6; */
    content: '';
    display: block;
    height: 2px;
    transition: background 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, background 0.3s;
    transition: transform 0.3s, background 0.3s, -webkit-transform 0.3s;
    width: 20px;
}

header .header-burger div:before {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transform-origin: 12px 0px;
            transform-origin: 12px 0px;
}

header .header-burger div:after {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    -webkit-transform-origin: 6px -1px;
            transform-origin: 6px -1px;
}

.open header .header-burger div {
    background: transparent !important
}

.open header .header-burger div:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg)
}

.open header .header-burger div:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg)
}

@media only screen and (min-width: 453px) {
    header .menu-wrap {
        display: none;
    }
    header .header-content {
        display: inline-block;
    }
    header .header-nav {
        padding: initial;
        display: block;
        float: right;
        visibility: visible;
        opacity: 1;
        position: static;
        width: auto;
    }
    header .header-burger {
        display: none;
    }
    header nav .nav-item {
        display: inline-block;
        vertical-align: top;
    }
    header nav .nav-item .nav-link {
        display: inline-block;
    }
}


/*=====header end=====*/


/*=====toc=====*/

.col-sidebar .js-toc {
    padding: 50px 10px;
    height: 100%;
    overflow-y: auto;
    max-width: 296px;
}

.col-sidebar .js-toc li {
    list-style: none;
}

.is-active-link::before {
    background-color: #3367d6;
}


/*=====toc end=====*/


/*=====post=====*/


/*post title*/

.title-list .title-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.title-list .title-item .post-title {
    padding-right: 10px;
}

.title-list .title-item .post-date {
    white-space: nowrap;
}


/*post title end*/


/*post abstract*/

.post-abstract {}


/*post abstract end*/


/*post info*/

.post-info, .post-info a {
    color: #757575;
    margin-bottom: 10px;
}

.post-info .material-icons {
    font-size: 16px;
    line-height: 24px;
    vertical-align: bottom;
}

.post-date, .post-categories, .post-tags {
    display: inline-block;
    margin-right: 10px;
}


/*post info end*/

.post-content .image-caption {
    font-size: 14px;
    color: #757575;
    display: block;
    text-align: center;
}

.post-content img, .post-content video {
    border: 0;
    max-width: 100%;
    max-height: 100%;
    margin: 15px 0;
}

pre[class*="language-"] pre[class*="language-"]{
    border-radius: 0;
}

/*=====post end=====*/


/*=====pagination=====*/

.pagination, .pager {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 25px 0;
}

.pager .pager-item {
    max-width: 50%;
    padding: 10px;
}

.pager .post-prev {
    text-align: left;
    margin-right: auto
}

.pager .post-next {
    text-align: right;
    margin-left: auto
}

.pager .post-nav-title {}

.pagination .page-number {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center
}

.pagination .page-number, .pagination a {
    display: inline-block;
    height: 100%;
    padding: 10px
}


/*=====pagination end=====*/


/*=====footer=====*/

.footer {
    margin: 30px 15px;
    text-align: center;
    font-size: .8em;
    color: #757575;
}

.footer p {
    margin: 0
}


/*=====footer end=====*/