h1 {
    font: 300 34px/40px Roboto, sans-serif;
    letter-spacing: -.01em;
    margin: 40px 0 20px
}

h2 {
    border-bottom: 1px solid #ebebeb;
    font: 300 24px/32px Roboto, sans-serif;
    letter-spacing: -.01em;
    margin: 40px 0 20px;
    padding-bottom: 3px
}

h3 {
    font: 400 20px/32px Roboto, sans-serif;
    margin: 32px 0 16px
}

h4 {
    font: 400 18px/32px Roboto, sans-serif;
    margin: 32px 0 16px
}

h5 {
    font: 700 16px/24px Roboto, sans-serif;
    margin: 32px 0 16px
}

h6 {
    font: 500 16px/24px Roboto, sans-serif;
    margin: 32px 0 16px
}

h1+h1, h1+h2, h1+h3, h1+h4, h1+h5, h1+h6, h2+h1, h2+h2, h2+h3, h2+h4, h2+h5, h2+h6, h3+h1, h3+h2, h3+h3, h3+h4, h3+h5, h3+h6, h4+h1, h4+h2, h4+h3, h4+h4, h4+h5, h4+h6, h5+h1, h5+h2, h5+h3, h5+h4, h5+h5, h5+h6, h6+h1, h6+h2, h6+h3, h6+h4, h6+h5, h6+h6, h1+dl>dt:first-child, h2+dl>dt:first-child, h3+dl>dt:first-child, h4+dl>dt:first-child, h5+dl>dt:first-child, h6+dl>dt:first-child {
    margin-top: 0
}

@media screen and (max-width: 720px) {
    h1 {
        font: 300 24px/32px Roboto, sans-serif
    }
}
