/*stylesheet for wayouliu.duapp.com witch is the personal site of Wayou Liu, a front-end developer*/

/*Responsive design and fluid layout enabled in this stylesheet*/

/*Use -webkit-text-size-adjust:none to disable text size adjust on the iPhone.*/
::selection {
background: #cc0000;
color: #fff;
}
html{
	-webkit-text-size-adjust: none;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body{
	min-height:100%;
	/*background-color:#f2f2d9;*/
	background-color:#f2f2d9;
}
html, body {
	margin: 0;
	line-height: 1;
	min-height:100%;
	font-family: "microsoft yahei",simsun,arial;
}
body,#wrapper{
	min-height: 100%;
}
#main{
	min-height: 90%;
	padding-top: 75px;
}

/*hide pace progress circle icon*/
.pace-activity{
	display: none!important;
}

/*for parallax bubbles in the background*/

#bg{
	z-index: -50;
}
#bg1, #bg2, #bg3 {
	z-index:-50;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(../img/bubbles.png) repeat 0 0;
	position: fixed;
}

#bg2 {
	z-index:-51;
	background-image:url(../img/bubbles2.png);
}

#bg3 {
	z-index:-52;
	background-image:url(../img/bubbles3.png);
}
/*end*/

/*color change trick*/
#color-change{
	position: absolute;
		top: 0;
		right: 10px;
	}
.color-cube{
	width:10px;
	height:10px; 
	display:inline-block;
	cursor: pointer;
}
#color-pick{
	border: none;
background-color: rgba(0,0,0,0);
height: 20px;
width: 15px;
	cursor: pointer;

}

/*site menu*/
#header{
	/*background-color:#F8F8F8;*/
	background-color: rgba(248,248,248,0.9);
	width: 100%;
	position: fixed;
	height: 65px;
	padding: 5px;
	top: 0;
	border-bottom:1px solid;
	box-shadow: 0 0 8px;
	z-index: 99;
}

#logo{
	width: 100px;
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 15px #9ecaed;
	border-radius:100%;
	cursor: pointer;
}

@keyframes shine{
	from{box-shadow: 0 0 15px #9ecaed;}
	to{box-shadow: 0 0 5px #C90000;}
}
@-webkit-keyframes shine{
	from{box-shadow: 0 0 15px #9ecaed;}
	to{box-shadow: 0 0 5px #C90000;}
}


#logo:hover{
animation:shine 1s linear infinite alternate;
-webkit-animation:shine 1s linear infinite alternate;
}

#site-title,#logoContainer img{
	float: left;
}
#site-title h1{
	margin: 10px 2px;
	white-space: nowrap;
}
#site-title p{
	margin: 0;
}
#logoContainer h1{
	/*width: 170px;
	clear: both;*/
}

.nav ul{
	text-align: right;
	margin-top: 35px;
}
.nav li{
	padding: 0;
	margin-right: 16px;
	display: inline-block;
}

.nav a {
font-size: 14px;
color: #444;
margin: 5px 3px 1px 3px;
padding: 5px 15px;
display: block;
-webkit-transition: all 0.3s ease-in;
-moz-transition: all 0.3s ease-in;
transition: all 0.3s ease-in;
border: 1px solid #ccc;

text-decoration: none;
display: block;

cursor: pointer;
}

.nav a:hover {
color: #1078a5;
-webkit-transition: all 0.2s ease-in;
-moz-transition: all 0.2s ease-in;
transition: all 0.2s ease-in;
background-color: #fff;
-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

/*responsive menu*/
@media screen and (max-width: 766px){
.nav {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	#header{
		height: auto;
	}

#color-change{
	display: none;
}

.nav {
		position: relative;
		min-height: 20px;
		display: none;
	}	
	.nav ul {
		min-height: 15px;

		min-width: 40px;
		padding: 5px 0;
		position: absolute;
		top: -30px;
		right: 10px;
		border: solid 1px #aaa;
		background: #fff url(../img/icon-menu.png) no-repeat 13px 6px;
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
	}
	.nav li {
		display: none; /* hide all <li> items */
		margin: 0;
	}
	
	.nav a {
		display: block;
		padding: 5px 5px 5px 32px;
		text-align: left;
	}
	

	/* on nav hover */
	.nav ul:hover {
		background-image: none;
	}
	.nav ul:hover li {
		display: block;
		margin: 0 0 5px;
	}
	
}

#demos,#about{
	padding:100px 5px;
	width: 1000px;
	margin: 0 auto;
}
#demos{
	height: 600px;
}
/*#demos > h1:hover:after,#about > h1:hover:after  {
content: '\00b6';
}*/

#about > h4:hover:after  {
content: '\00A7';
}

/*demos section*/
.grid4 .item:nth-of-type(4n+1),
.grid3 .item:nth-of-type(3n+1),
.grid2 .item:nth-of-type(2n+1) {
	margin-left: 0;
	clear: left;
}

/* item */
.item {
	height: 180px;
	background: #C90000;
	float: left;
	margin-left: 3.2%;
	margin-bottom: 30px;
	text-decoration: none;
	overflow: hidden;
}
.item img{
	width:100%;
	height: 180px;
}

/* grid4 item */
.grid4 .item {
	width: 22.6%;
}

/* grid3 item */
.grid3 .item {
	width: 31.2%;
}

/* grid2 item */
.grid2 .item {
	width: 48.4%;
}
/*Changing From 4-column to 3-Column*/
@media screen and (max-width: 740px) {
	.grid4 .item {
		width: 31.2%;
	}
	.grid4 .item:nth-of-type(4n+1) {
		margin-left: 3.2%;
		clear: none;
	}
	.grid4 .item:nth-of-type(3n+1) {
		margin-left: 0;
		clear: left;
	}
}
/*Changing 4-column and 3-column to 2-column*/
@media screen and (max-width: 600px) {
	/* change grid4 to 2-column */
	.grid4 .item {
		width: 48.4%;
	}
	.grid4 .item:nth-of-type(3n+1) {
		margin-left: 3.2%;
		clear: none;
	}
	.grid4 .item:nth-of-type(2n+1) {
		margin-left: 0;
		clear: left;
	}

	/* change grid3 to 2-column */
	.grid3 .item {
		width: 48.4%;
	}
	.grid3 .item:nth-of-type(3n+1) {
		margin-left: 3.2%;
		clear: none;
	}
	.grid3 .item:nth-of-type(2n+1) {
		margin-left: 0;
		clear: left;
	}
}	

/*Changing 4-column , 3-column and 2-column to 1 column*/
@media screen and (max-width: 380px) {
	/* change grid4 to 1-column */
	.grid4 .item {
		width: 97%;
	}
	.grid4 .item:nth-of-type(4n+1) {
		margin-left: 3.2%;
		clear: none;
	}
	.grid4 .item:nth-of-type(3n+1) {
		margin-left: 3.2%;
		clear: none;
	}
	.grid4 .item:nth-of-type(2n+1) {
		margin-left: 3.2%;
		clear: none;
	}
	.grid4 .item:nth-of-type(n+1) {
		margin-left: 0;
		clear: left;
	}

	/* change grid3 to 1-column */
	.grid3 .item {
		width: 90%;
	}
	.grid3 .item:nth-of-type(3n+1) {
		margin-left: 3.2%;
		clear: none;
	}
	.grid3 .item:nth-of-type(2n+1) {
		margin-left: 0;
		clear: left;
	}

	/* change grid2 to 1-column */
	.grid3 .item {
		width: 90%;
	}
	.grid3 .item:nth-of-type(3n+1) {
		margin-left: 3.2%;
		clear: none;
	}
	.grid3 .item:nth-of-type(2n+1) {
		margin-left: 0;
		clear: left;
	}
}	




/*about section*/

#textKeroppi{
	background: black;
	width: 600px;
	margin:0 auto;
	text-align: center;
}

#tagsContainer .tag{
font-size: 1.5em;
padding: 25px 15px;
cursor: pointer;
background-color: #9c0000;
color: #fff;
text-decoration: none;
font-weight: 600;
transition: background .3s ease-in-out 0s,color .3s ease-in-out 0s,box-shadow .3s ease-in-out 0s,width 0.2s,height 0.2s;
-moz-transition: background .3s ease-in-out 0s,color .3s ease-in-out 0s,-moz-box-shadow .3s ease-in-out 0s,width 0.2s,height 0.2s;
-webkit-transition: background .3s ease-in-out 0s,color .3s ease-in-out 0s,-webkit-box-shadow .3s ease-in-out 0s,width 0.2s,height 0.2s;
}

#tagsContainer .tag:hover{
	color: #C90000!important;

background-color: #f5f5f5!important;
text-decoration: none!important;
background-color: #f5f5f5!important;
box-shadow: 1px 2px 10px #000;
-moz-box-shadow: 1px 2px 10px #000;
-webkit-box-shadow: 1px 2px 10px #000;
}

.bigTag{
	width:auto;
}
.tagContent{
	padding-top: 5px;
	display: none;
	text-align: center;
}
.bigTag .tagContent{
	display: block;
	z-index: -1;
	color: #000;
	font-size: 0.6em;
}
.tagContent img{
	max-width: 300px;
}
.threeD{
	font-family: Arial, sans-serif;
line-height: 1em;
color: #9c0000;
font-weight:bold;
font-size: 134px;
text-shadow:0px 0px 0 rgb(132,-24,-24),1px 1px 0 rgb(117,-39,-39),2px 2px 0 rgb(103,-53,-53),3px 3px 0 rgb(88,-68,-68),4px 4px 0 rgb(74,-82,-82),5px 5px 0 rgb(59,-97,-97), 6px 6px 0 rgb(45,-111,-111),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}

.guitar{
	-webkit-transition:-webkit-transform 0.5s;
	-moz-transition:-moz-transform 0.5s;
	-ms-transition:-ms-transform 0.5s;
	-o-transition:-o-transform 0.5s;
	transition:transform 0.5s;

	-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-ms-transform: rotate(0deg);
transform: rotate(0deg);
}
.guitar:hover{
	-webkit-transform: rotate(20deg);
-moz-transform: rotate(20deg);
-o-transform: rotate(20deg);
-ms-transform: rotate(20deg);
transform: rotate(20deg);
}

footer{
	font-size:0.8em;
	width: 100%;
	text-align: center;
	background-color: rgba(99, 99, 99, 0.25);
}
footer ul{
	margin: 2px;
}
footer a{
	text-decoration:none;
	margin: 2px;
}
footer a:hover{
	color: #000;
}
footer p{
	margin: 0;
}
footer ul li{
	display: inline-block;
}

