<!--
in case you wonder,play it here: http://patorjk.com/software/taag/#p=display&f=Graffiti&t=2%20be%20the%20master
-->
<html lang="en">
          <%- partial('partials/head') %>
    <body>
        <header>
            <!-- cover image or sth. -->
            <!-- material design style preloader http://codepen.io/Michiel/pen/ogXrBX -->
            <div aria-busy="true" aria-label="Loading, please wait." class="material-preloader" role="progressbar">
            </div>
        </header>
        <%- partial('partials/nav') %>
        <div class="container content">
            <%- body %>
        </div>
          <%- partial('partials/footer') %>
    </body>
</html>
