
body {
  font-size: 1.5em;
  background-color: #fff;
  font-family:'Microsoft YaHei',Tahoma,'PT Serif',Georgia,Times,'Times New Roman',Serif;
  /*text-shadow: 1px 1px 2px rgba(50,50,50,0.15);*/
}

a:hover{
	text-decoration: none;
}

/*fix icon size*/
[class^=mdi-], [class*=mdi-]{
	font: normal normal normal 1em 'Material-Design-Icons';
}
/*enable boxshadow on bootstrap material button group*/
.btn-default:not(.btn-link):hover, .btn:not(.btn-link):hover{
	box-shadow: 0 3px 6px rgba(0,0,0,.2),0 3px 6px rgba(0,0,0,.28)!important;
}
/*.btn-group .btn:hover{
	box-shadow: 0 3px 6px rgba(0,0,0,.2),0 3px 6px rgba(0,0,0,.28)!important;
}*/

/*fix blockquote font size for bs*/
blockquote{
	font-size: initial;
}

.article-content{
  margin-top: 15px;
}

.center-content{
  float: none;
  margin: 0 auto;
}

/*toc*/
#toc {
  top: 150px;
  transition: all ease 0.3s;
	border: none;
  border-radius: 0;
}
#toc.sticky-scroll{
  top:40px;
}

.tocify .tocify-item {
	border-left: 2px solid transparent;
	/*truncate text*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tocify-item.tocify-focus{
  color: teal;
  border-left: 2px solid;
  font-weight: bold;
}

.tocify-item:hover{
  color: teal;
	border-left: 2px solid;
}

@media (min-width: 1200px){
  .container {
    width: 970px;
  }
}
/*disable toc on small screen*/
@media screen and (max-width:991px) {
  #toc {
    display: none;
  }
}

/*post*/
.content{
	min-height: 300px;
	word-wrap: break-word;
}
.comment-section{
  margin-top: 60px;
}
.excerpt,.content{
	margin: 10px 0;
}
.content img {
  max-width: 100%;
	/*box-shadow: inset 0 0 0 rgba(255,255,255,.9),0 5px 40px 1px rgba(0,0,0,.19),0 0 0 0px rgba(0,0,0,.3);*/
  margin: 20px 0px;
	cursor: pointer;
}
.post-time {
	color: #aaa;
	white-space: nowrap;
}

.archive-item{
	text-align: right;
}

.archive-title{
	float: left;
	text-align: left;
}

/*make the date beside title wrap to next line on mobile*/

@media screen and (max-width:415px) {
  .page h3.title span.date {
    position: static;
    display: inline-block;
  }
}

/*code*/
figure.highlight {
  margin-bottom: 20px;
}
figure.highlight .gutter .line{
	color: #999;
}

/*pagination*/
.pagination-wrapper {
  text-align: center;
}
.btn-group{
	box-shadow: none;
}

footer {
  color: #999;
  text-align: center;
	margin-top: 30px;
}

/*back to top*/

#gotop {
  display: block;
  width: 36px;
  height: 36px;
  position: fixed;
  bottom: 30px;
  right: 25px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 2.2em;
  background-color: #fefefe;
}
