.pagination,.pager{
    display: flex;
    justify-content: space-between;
    /*justify-content: center;*/
    margin: 25px 0;
}
.pager {
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.pager .pager-item {
    max-width: 50%
}

.pager .post-prev {
    text-align: left;
    margin-right: auto
}

.pager .post-next {
    text-align: right;
    margin-left: auto
}

.pager .post-nav-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.pagination .page-number {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center
}

.pagination .page-number, .pagination a {
    display: inline-block;
    height: 100%;
    padding: 10px
}