/*@import url("./nav-trans.css") only screen and (max-width: 768px);*/
/*html structure following this spec http://oli.jp/2009/html5-structure1/*/

/*material color pallete https://www.google.com/design/spec/style/color.html#color-color-palette*/

* {
    box-sizing: border-box;
}

body {
    color: #404040;
    font: 100 1em/150% "proxima-nova", Helvetica, sans-serif;
    text-shadow: 1px 1px 2px rgba(50,50,50,0.1);
    margin: 0;
    padding: 0;
    /*background-color: #f5f5f5;*/
    overflow-x: hidden;
}

a {
    color: #3c80f6;
    text-decoration: none;
}

/*nav*/

.fixed {
    position: fixed;
}

.logo {
    margin: 0 15px;
}
.logo a{
    font-weight: 400;
    font-size: 20px;
}

.nav-wrapper {
    background-color: #4184f3;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

nav {
    /*background-color: #4184f3;*/
    color: #fff;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

nav a {
    color: #fff;
}

.menu-wrapper {
    /*display: none;*/
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    /*background-color: #4184f3;*/
    background-color: transparent;
    margin: 0;
    padding: 56px 0 0 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    /*transition: none;
    transform: none;*/
    padding: 0;
    margin-top: 56px;
    transition: all .5s;
    z-index: 10;
}

.menu-wrapper.active {
    opacity: 1;
    visibility: visible;
}

.menu-wrapper ul.menus {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.logo {
    z-index: 999;
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0;
}

.menu-wrapper li {
    will-change: transform, opacity;
    opacity: 0;
    box-sizing: border-box;
    transform: translateY(-100px);
    transition: all 0.3s ease-out;
}

.menu-wrapper li a {
    font-size: 5vw;
    font-weight: 300;
    display: inline-block;
    width: 100%;
    transition: background .4s ease-out;
}

.menu-wrapper li a:hover {
    /*background: #3D5AFE;*/
}

.menu-wrapper a {
    text-decoration: none;
    color: #fff;
    padding: 15px;
}

.nav-toggle-icon {
    display: block;
    width: 56px;
    height: 56px;
    /*position: relative;*/
}


/*nav end*/

.container {
    margin: 0 auto;
}
.container.content {
    margin-top: 25px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main {
    background: #fff;
    flex: 3 1 auto;
    min-height: 320px;
    max-width: 727.5px;
    width: 100%;
    /*margin-top: 15px;*/
}

aside {
    /*background: #eee;*/
    flex: 1 1 auto;
    min-height: 50px;
    min-width: 150px;
    max-width: 242.5px;
    display: none;
}

.tocify li, .tocify ul{
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

article{
    background: #fff;
    /*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);*/
    padding: 15px;
    /*margin: 25px 0;*/
}
article img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
article code,article tt{
    padding: .2em .4em;
    margin: 0 5px;
    background-color: rgba(0,0,0,.04);
    border-radius: 3px;
}
article blockquote{
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #CBC8C8;
    margin: 0 -15px;
}
article hr{
    height: 4px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
}

#toc a{
    color: initial;
}
.pager{
    display: flex;
    justify-content: space-between;
}
.pager .pager-item{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 auto;
    max-width: 50%;
}
.pager .post-nav-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pager .post-prev{
    text-align: left;
   margin-right: auto;
}
.pager .post-next{
    text-align: right;
   margin-left: auto;
}
.pagination{
    display: flex;
    justify-content: center;
    height: 46px;
}
.pagination .page-number{
    flex: 1 1 auto;
    text-align: center;
}
.pagination .page-number,.pagination a{
    display: inline-block;
    height: 100%;
    padding: 10px;
}

@media (min-width: 425px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .logo{
        margin: 0;
    }
 
    figure.highlight,pre, .highlight, .gist {
        margin:15px 0;
    }
    article blockquote{
        margin: 0;
    }

}

@media (min-width: 768px) {
    .logo{
        padding: 15px;
    }
    .logo.fixed {
        position: static;
    }
    .container {
        /*width: 750px;*/
    }
   
    .nav-toggle-icon {
        display: none;
    }
    .menu-wrapper {
        position: relative;
        /*position: static;*/
        display: flex;
        width: auto;
        height: auto;
        padding: 0;
        opacity: 1;
        visibility: visible;
        margin: 0;
        transition: none;
    }
    .menu-wrapper ul.menus {
        flex-direction: row;
        /*height: auto;*/
    }
    .menu-wrapper li {
        will-change: inherit;
        margin: 0;
        transform: none;
        opacity: 1;
        transition: none;
        /*margin-right: 30px;*/
    }
    .menu-wrapper li a {
        font-size: inherit;
        font-weight: inherit;
        height: 100%;
        /*line-height: 56px;*/
        /*padding: 0;*/
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
     aside {
        display: block;
    }
}

footer{
    margin: 15px;
    text-align: center;
    font-size: .8em;
    color: rgba(0,0,0,0.54);
}
footer p{
    margin: 0;
}
