
<%- partial('_partial/header') %>

<%- partial('_partial/scroll-header-style.ejs') %>

<body unresolved class="fullbleed layout vertical">
  <template is="dom-bind" id="app">

    <paper-drawer-panel id="paperDrawerPanel">

       <%- partial('_partial/nav') %>

      <paper-header-panel main mode="waterfall-tall">

         <paper-scroll-header-panel condenses>

          <%- body %>

        </paper-scroll-header-panel>

      </paper-header-panel>

    </paper-drawer-panel>

  </template>

</body>

</html>