<footer class="footer">
    <p>由<a href="http://hexo.io/" target="_blank">Hexo</a>强力驱动，搭载<a title="under developing..." href="javascript:;">末名</a>主题</p>
    <p>
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    </p>
</footer>
<!--<%- js('lib/waves') %>-->
<!--<%- js('js/main') %>-->
